

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  text-align: center;
  background-image:;
  background-size: 100% auto;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
}

svg {
  max-width: 100%;
}

.website-img {

}

.sending-text{
  font-size: 1.2rem;
  color: #999999;
}

.modal-title {
  padding-bottom: 4%;
  font-size: 1.8rem;
}

.header-p {
  padding-left: 4%;
  padding-right: 4%;
}

.automation-p {
  padding-left: 10%;
  margin-right: -5%;
}

.dmspacing {
  padding-bottom: 5%;
}

.head-col {
  padding-top: 5%;
}

.mag-move {
  margin-top: -65%;
  animation: moveleft 7s;
  animation-fill-mode: forwards;
}
@keyframes moveleft{
 30%{transform: translate(-35%,-23%);}
 60%{transform: translate(-35%, -68%);}
 100%{transform: translate(-68%, -46%);}
}

.main-header-title{
  font-family: 'Roboto', sans-serif;
  font-size: 300%;
  letter-spacing: 4px;
  margin-top: -15%;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-style: bold;
  font-size: 200%;
  padding-top: 5%;
  padding-bottom: 7%;
  margin-right: -2%;
  margin-left: -2%;
}

.p-tit {
  padding-left: 2rem;
}

.nav-title {
font-family: 'Roboto', sans-serif;
  letter-spacing: 4px;
  font-size: 1.5rem;
  margin-left: -2rem;
}

.nav-item{

}

.sm-text {
  font-size: 1.2rem;
  font-style: bold;
  letter-spacing: 2px;
}

.secondary-header-title{
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  letter-spacing: ;
}

.secondary-header-title-sm {
  font-size: 1rem;
  margin-right: -10%;
  margin-left: -10%;
}

.header-text {

}

.header-img {
  margin-top: -15%; 
  margin-bottom: -20%; 
  margin-right: -10px;
  width: 100%; 
  height: auto;
}

.header-row {
  padding-top: 5%;
}

.header-btn {
  margin-top: 5%;
}

.cta-title {
  font-family: 'Roboto', sans-serif;
  font-style: bold;
  font-size: 300%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.p-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.p-text {
  margin-bottom: 0px;
}

.list-title {
  font-size: 1.5rem;
}

.big-words {
  font-size: 1.5rem;
  line-height: 70%;
}

.list-line {
  line-height: 70%;
  padding-bottom: 1.5rem;
}

.modal-list-title {
  font-size: 1.4rem;
  font-style: bold;
  padding-bottom: 1.5rem;
}

.list-text {
  font-size: 1rem;
}

.section-body-right {
  padding-left: 5%;
  padding-right:4%;
}

.section-body-left {
  padding-left: 4%;
  padding-right:2%;
}

.section-body-center {
  padding-left: 1rem;
  margin-left: ;
}

.about-p {
  padding-left: 2%;
}

.auto-p1{
  padding-right: 3%;
}

.auto-p2{
  padding-left: 4%;
}

.register-title {

}

.icon-titles {

}

.p-no {
  padding-left: -2rem;
}

.shadows{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.web-p {
  padding-bottom: 4%;
}

.section-p {
  margin-bottom: 2%;
  padding-bottom: 2%;
}

.p-auto {
  margin-bottom: 2%;
  padding-bottom: 2%;
}

.p-marg {
  margin-left: 3%;
}

.section-title2 {
  font-family:; 
  font-size: 3.5rem;
  padding-top: 10%;
  padding-bottom: 5%;
}

.inlin{
  display: inline;
}

.p-spacing {
  padding-bottom: 5%;
}

/* Automatizacion de procesos */

/* NUESTROS PROCESOS */

.process-img {
  margin-top: -150%;
  height: 6rem;
  width: auto;
  pointer-events: none;
}

.process-text {
  font-size: 1.2rem;
  margin-top: -15%;
  color: #1c08a0;
}
.mag-mobil {
  margin-top: -110%;
  margin-left: 10%;
  width: 50%;
  pointer-events: none;
}

.bulb-mobil {
  margin-top: -95%;
  margin-left: 0%;
  width: 26%;
  pointer-events: none;
}

.laptop-mobil {
  margin-top: -108%;
  margin-left: 10%;
  width: 54%;
  pointer-events: none;
}

.cloud-mobil {
  margin-top: -110%;
  margin-left: 0%;
  width: 75%;
  pointer-events: none;
}

.thumb-mobil {
  margin-top: -105%;
  margin-left: 0%;
  width: 37%;
  pointer-events: none;
}

.process-text-mobil {
  font-size: 120%;
  margin-top: -32%;
  color: #1c08a0;
  pointer-events: none;
}

a:hover .process-text-mobil{
  color: #fff;
}

a svg:hover #arrow_1 { 
  fill: #1C08A0;
}

a svg #arrow_1 { 
  outline: none; 
  border: 0; 
  text-decoration: none;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}


/* PAGINAS WEB */

.section-two {
  margin-top: -10%;
}

/* COLORS */
.purp-gradient {
  background-image: linear-gradient(90deg, #9933cc, #5308ab, #1c08a0, #1c08a0)
}

.bg-blue {
  background-color: #1C08A0;
  color: #fff;
}

.navbar {
  background-color: rgb(28, 8, 160);
}

.nav-link {
  color: #fff;
}

.dropdown-menu {
  background-color: rgb(28, 8, 160, 0.8);
}

.dropdown-item {
  color: #fff;
  opacity: 1;
}


.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}

.about-icon {
 width: 25%;
 height: auto;
}

.text-small {
  font-size: .5rem;
}

.text-large {
  font-family: 'Roboto', sans-serif;
  font-size: .5rem;
}

.text-bold {
  font-size: .5rem;
}

.consult-img {

}

.wave-up {
  text-align: center;
  background-image: url("../img/bg_wave_up.svg");
  background-size: 100% auto;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}

.action-up {
  text-align: center;
  background-image: url("../img/bg_action.svg");
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  padding-bottom: 5%;
  padding-top: 5%;
}

.curve-up {
  text-align: center;
  background-image: url("../img/bg_curve.svg");
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  padding-bottom: 5%;
  padding-top: 5%;
}

.usdcurve-up {
  text-align: center;
  background-image: url("../img/bg_usdcurve.svg");
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  padding-bottom: 5%;
  padding-top: 5%;
  width: 100%;
}

.usdshort-up {
  text-align: center;
  background-image: url("../img/bg_usdshort.svg");
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  padding-bottom: 5%;
  padding-top: 5%;
  width: 100%;
}

.straight-up {
  text-align: center;
  background-image: url("../img/bg-straight.svg");

  background-size: auto 100%;
  background-position: 50% 0%;
  background-repeat: repeat;
}

.bg-white {

}

.about-title {
  margin-top: -7%;
  margin-bottom: -3%;
}

.process-title {
  margin-top: -5%;
}

.priority-title {
  margin-top: -5%;
  margin-bottom: -2%;
}

.priority-row {
  padding-bottom: 2%;
}

.modal-p {
  margin-top: -10%;
}

.dev-p {
  padding-top: 70%;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.head-img-sm {
	width: 80%;
	height: auto;
}

.btn-primary {
  background-color: #1C08A0;
}

.btn-primary:hover {
  background-color: #5308AB;
}

.head-img-lg {
	width: 70%;
	height: auto;
}

.header-space {
	padding: 50px;
}

.pad {
	padding: 10px;
}

.text-white {
	color: #ffffff;
}

.text-disabled {
  color: #999999;
}

.text-primo {
  color: #1C08A0;
}

.text-black {
  color: #000000;
}

.parrafo {
	align-content: center;
}

.greydient {
	background-image: linear-gradient(90deg, #ccc, #d7d7d7, #e9e9e9, #f5f5f5, #fdfdfd, #fff, #fff, #fff);
  	background-size: auto 600px;
  	background-position: 50% 120%;
  	background-repeat: no-repeat;
}

/*OUR TEAM */
.team-heading {
  font-size: 1.5rem;
  padding-top: 8%;
  margin-bottom: -1%;
}
.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
  padding: 0;
}


.text-address{
  font-size: .8rem;
}

/* SOCIAL */

.typewindow{
  margin-top: -95%;
  z-index: 1;
  max-height: 10rem; 
  min-height: 10rem;"
}

.social-row {
  padding-top: 3%;
  padding-bottom: 2%;
}

.social-buttons {
  margin-top: -5%;
  margin-bottom: -5%;
}

.social-buttons a {
  display: inline-block;
  color: #1C08A0 !important;
  text-align: center;
  font-size: 1.5rem;
}

.priority-icon {
  height: 2.5rem;
  margin-top: -5%;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  color: #1C08A0 !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #5308AB;
  color: #fff ! important;
}

.dev-icons {
  font-size: 3rem;
}

.bullet-list {
  font-size: 1.2rem;
  font-style: bold;
  margin-left: -5%;
}

#map {
  height: 300px;
  width: 100%;
  border-radius: 8px;
}

.team-title {
  margin-top: -2%;
  margin-bottom: -2%;
}

.automation-section{
  margin-left: 1%;

}

.automation-p {
  margin-left: -3%;
}

.equipo-section {
  margin-top: 5%;
}

/* Typewriter stuff */
.typewriter {
  color: #fff;
  font-size: 1.5rem;
  font-family: monospace;
  letter-spacing: .1em; /* Adjust as needed */
  padding: 12%;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}






/* MODALS */

.portfolio {
  margin-bottom: -15px; }
  .portfolio .portfolio-item {
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 15px; }
    .portfolio .portfolio-item .portfolio-item-caption {
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background-color: rgba(24, 188, 156, 0.9); }
      .portfolio .portfolio-item .portfolio-item-caption:hover {
        opacity: 1; }
      .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
        font-size: 1.5rem; }
  @media (min-width: 576px) {
    .portfolio {
      margin-bottom: -30px; }
      .portfolio .portfolio-item {
        margin-bottom: 30px; } }

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5); }
  .portfolio-modal .portfolio-modal-dialog .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem; }
    .portfolio-modal .portfolio-modal-dialog .close-button i {
      line-height: 38px; }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 2rem; }

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px); }
    .portfolio-modal .portfolio-modal-dialog h2 {
      font-size: 3rem; } }


/* CONTACT US */

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;

  background: #009bff;
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background: -o-linear-gradient(left, #0072ff, #00c6ff);
  background: -moz-linear-gradient(left, #0072ff, #00c6ff);
  background: linear-gradient(left, #0072ff, #00c6ff);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 90px 130px 88px 148px;
}

.apps-text {
  font-size: .95rem;
  margin-left: -15%;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.contact-form {
  color: #000000;
}

.contact-form:disabled {
  color: #999999;
}

.contact-form input:disabled {
  color: #999999;
}

.contact-form textarea:disabled {
  color: #999999;
}

.contact1-form-title {
  display: block;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

input.input1 + .shadow-input2 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-size: 15px;
  line-height: 1.5;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 92%;
  margin-left: 4%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(28, 8, 160, 0.5);
}

.shadow-input2 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 92%;
  margin-left: 4%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(28, 8, 160, 0.5);
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.input1:focus + .shadow-input2 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #1C08A0;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #5308AB;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

.intro-mobil {
  padding-left: 18%;
  padding-right: 18%;
}

.map {

}

.p-modal {
  margin-top: -5%;
}

.p-ana {
  margin-top: -13%;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
.header-img {
  margin: 0;
  min-height: 240vh;
}


@media only screen and (min-width: 600px) {
    .process-text-mobil {
        font-size: 150%;
        margin-top: -25%;
    }
    .section-title {
        font-size: 200%;
    }

    .shadow-input1 {
      width: 90%;
      margin-left: 5%;
    }
    .shadow-input2 {
      width: 82%;
      margin-left: 9%;
    }
    .secondary-header-title-sm {
      font-size: 1.5rem;
    }
}

@media only screen and (min-width: 800px) {
  .section-title {
    font-size: 3em;
  }
  .website-img {
    margin-left: -15%;
  }
  .header-p {
    padding-right: 4%;
    padding-left: 4%;
  }
  .about-body {
    margin-left: -1rem;
  }
  .shadow-input1 {
    width: 94%;
    margin-left: 3%;
  }
  .shadow-input2 {
    width: 88%;
    margin-left: 6%;
  }
}

@media only screen and (max-width: 800px) {
  .team-heading {
    font-size: 1.2rem;
    padding-top: 10%;
    margin-bottom: -2%;
  }

  .sm-text{
    font-size: .7rem;
  }

  .typewriter {
    font-size: 1.2rem;
    padding: 14%;
  }

  .head-img-lg {
    margin-top: -10%;
    margin-bottom: -20%;
  }
  .main-header-title {
    font-size: 250%;
    margin-top: -20%;
  }
  .header-btn {
    margin-top: 15%;
    margin-bottom: 0%;
  }
  .header-text {
    margin-left: -5%;
    margin-right: -5%;
  }

  .team-title {
    padding-top: ;
  }
  .equipo-section {
    margin-top: 16%;
  }
  .bg-white {
    text-align: center;
    background-image: url("../img/bg_curve.svg");
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .usdcurve-up {
    text-align: center;
    background-image: url("../img/bg_curve.svg");
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .usdshort-up {
    text-align: center;
    background-image: url("../img/bg_curve.svg");
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .straight-up {
    text-align: center;
    background-image: url("../img/bg_curve.svg");
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .head-col {
    padding-top: 30%;
  }

  .consult-img {
    margin-top: 1%;
  }

  .p-ana {
    margin-top: -16%;
  }

  .dev-p {
    padding-top: 60%;
  }

  .cta-title {
    padding-top: 15%;
  }
}

@media only screen and (max-width: 600px) {
  .text-address{
    font-size: 1rem;
  }

  .p-auto {
    padding-bottom: 5%;
  }

  .about-body {
    margin-left: -3%;
    margin-right: -3%;
  }

  .apps-text {
    font-size: .8rem;
    margin-left: 0%;
  }
  .map {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .dev-p {
    padding-top: 28%;
  }

  .p-ana {
    margin-top: -25%;
  }

  .modal-title {
    font-size: 1.2rem;
  }

  .mag-move{
    margin-top: -78%;
  }

  .typewriter {
    font-size: .8rem;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 1%;
  }
  .team-heading {
    margin-top: -6%;
    padding-bottom: 1%;
  }
  .main-header-title {
    font-size: 180%;
    margin-top: -40%;
  }
  .header-btn {
    margin-top: 6%;
    margin-bottom: -5%;
  }
  .inlin {
    display: block;
  }
  .about-p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .inlin p{
  }
  .p-title {
    margin-bottom: -1%;
    font-size: 1.2rem;
  }

  p {
    line-height: 1.2rem;
  }
  .section-p {
    padding-bottom: 0%;
  }
  .section-body-left {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
  }
  .section-body-right {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
  }
  .p-text {
  }
  .cta-title {
    font-size: 150%;
    padding-top: 30%;
  }
  .priority-icon {
    height: 5rem;
    margin-left: -2rem;
    padding-bottom: 1rem;
  }
  
  .section-title {

  }
  .navbar-brand {
    padding-left: 0.5rem;
  }
  .nav-title {
    padding-left: 2.2rem;
  }
  .p-modal {
    margin-top: -15%;
  }
}

